<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/frontend/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="/frontend/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/frontend/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <script src="/frontend/node_modules/core-js/client/shim.min.js"></script>
    <script src="/frontend/node_modules/zone.js/dist/zone.js"></script>
    <script src="/frontend/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/frontend/src/systemjs.config.js"></script>
    <script>
        System.import('frontend/src/main.js').catch(function(err){ console.error(err); });
    </script>
    <title>Angular2 Twitch Example</title>
</head>
<body>
<my-app>Loading...</my-app>
</body>
</html>
