{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-pills nav-stacked">

    {% for game in games %}
        <li><a href="/game/{{ game.name|e }}"> <img src="{{ game.img }}" alt="img" /> {{ game.name|e }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
