<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% for game in games %}
        <li><img src="{{ game.img }}" alt="img" /> {{ game.name|e }}</li>
    {% endfor %}
</ul>
</body>
</html>